<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="internet banking test app">

	<listeners>
		<listener class-name="com.intetbanking.utils.GenerateReports" />

	</listeners>

	<test name="internet Banking test">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="com.intetbanking.testCases.TC_001_Login" />
			<class name="com.intetbanking.testCases.TC_003_AddCustomerTest" />
			<!--<class name="com.intetbanking.testCases.TC_002_DDT_Login" />-->
		</classes>

	</test>

</suite>
